@charset "UTF-8";
/* Variables */
/* Fonts */
@font-face {
  font-family: "lato";
  src: url("fonts/lato/Lato-Regular.ttf") format("truetype"); }
/* Media Queries */
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, summary, time, mark, audio, video, button, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: arial, sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav {
  display: block; }

html, body {
  line-height: 1;
  height: 100%; }

ol, ul {
  list-style: none; }

h1, h2, h3, ul#menu-main-navigation li a, footer p, ul {
  font-family: "lato", arial, sans-serif; }

h1 {
  font-size: 42px;
  color: #222;
  text-align: center;
  margin: 1em 0; }

a, button, input[type=submit] {
  cursor: pointer; }

ul li {
  margin-bottom: 1em;
  color: #3a6073;
  font-size: 20px; }
  ul li:before {
    content: "- ";
    color: #3a6073; }

body {
  background: #fff;
  margin: 0;
  padding: 0; }

.background-transition {
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out; }

.background-transition:hover {
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out; }

.opacity-transition {
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out; }

.opacity-transition:hover {
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out; }

.colour-transition {
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out; }

.color-transition:hover {
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out; }

i.fa {
  color: #fff; }

section {
  width: 60%;
  float: left;
  padding: 1em 20%;
  text-align: center; }
  @media (min-width: 481px) and (max-width: 768px) {
    section {
      width: 70%;
      padding: 1em 15%; } }
  @media (min-width: 0px) and (max-width: 768px) {
    section {
      width: 80%;
      padding: 1em 10%; } }
  section h2 {
    font-size: 30px;
    margin: 1em 0; }
  section p {
    font-family: lato, arial, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    text-align: left;
    margin-bottom: 2em; }

.button {
  float: left;
  width: 50%;
  padding: 0;
  text-align: center;
  margin: 1em 25%;
  color: #3a6073;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #3a6073; }
  @media (min-width: 0px) and (max-width: 768px) {
    .button {
      width: 100%;
      margin: 1em 0; } }
  .button:hover {
    background: #3a6073;
    color: #fff; }
  @media (min-width: 0px) and (max-width: 768px) {
    .button {
      background: #3a6073;
      color: #fff; } }
  .button a {
    display: block;
    padding: 1em 0; }

/* Header */
.header-scroll {
  background: rgba(0, 0, 0, 0.6);
  height: 50px; }
  .header-scroll .logo {
    width: 40px;
    height: 40px;
    margin: 5px 0; }
  .header-scroll div.menu-main-navigation-container {
    top: 16px; }
  .header-scroll .mobile-menu {
    top: 16px; }

header {
  width: 100%;
  height: 80px;
  float: left;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 999; }
  header .logo {
    width: 60px;
    height: 60px;
    margin: 10px 0;
    position: absolute;
    left: 5%; }
    header .logo img {
      max-height: 100%;
      max-width: 100%; }
  header div.menu-main-navigation-container {
    text-align: right;
    position: absolute;
    width: auto;
    top: 35px;
    right: 5%; }
    @media (min-width: 0px) and (max-width: 768px) {
      header div.menu-main-navigation-container {
        top: 80px;
        left: 0;
        right: 0; } }
    header div.menu-main-navigation-container ul#menu-main-navigation {
      text-align: right;
      width: 100%; }
      @media (min-width: 0px) and (max-width: 768px) {
        header div.menu-main-navigation-container ul#menu-main-navigation {
          display: none; } }
      @media (min-width: 769px) {
        header div.menu-main-navigation-container ul#menu-main-navigation {
          display: block !important; } }
      header div.menu-main-navigation-container ul#menu-main-navigation li {
        display: inline-block;
        list-style-type: none;
        width: auto;
        float: left;
        color: #fff;
        margin: 0 0 0 2em; }
        @media (min-width: 0px) and (max-width: 768px) {
          header div.menu-main-navigation-container ul#menu-main-navigation li {
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            margin-left: 0;
            text-align: center; } }
        header div.menu-main-navigation-container ul#menu-main-navigation li a {
          font-size: 18px; }
          @media (min-width: 0px) and (max-width: 768px) {
            header div.menu-main-navigation-container ul#menu-main-navigation li a {
              display: block;
              padding: 1em 0;
              font-family: 22px;
              font-weight: bold; } }
  header .mobile-menu {
    display: none;
    color: #fff;
    font-size: 22px;
    float: left;
    position: absolute;
    right: 10%;
    top: 33px;
    font-family: arial;
    font-weight: bold;
    text-decoration: none; }
    header .mobile-menu:before {
      font-family: "FontAwesome";
      content: " "; }
    @media (min-width: 0px) and (max-width: 768px) {
      header .mobile-menu {
        display: block; } }

/* Page */
#page {
  margin-top: 80px; }
  #page article {
    padding: 1em 5%; }
    #page article h1 {
      margin-top: 0; }
    #page article h2 {
      text-align: left; }
    #page article p {
      text-align: left;
      margin: 1em 0;
      line-height: 1.4em;
      font-size: 18px; }
    #page article .grey {
      background: #efefef;
      width: 90%;
      padding: 5%; }
    #page article img {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
      height: auto;
      margin-bottom: 1em; }

section#page.contact p {
  text-align: center;
  font-size: 24px; }

/* Full */
#full {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  float: left; }
  #full .contain {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left; }
    #full .contain .box {
      position: relative;
      width: 90%;
      top: 20%;
      left: 5%;
      z-index: 1;
      display: inline-block;
      float: left; }
      #full .contain .box h1 {
        font-size: 80px;
        margin: 10px 0;
        color: #fff; }
        @media (min-width: 481px) and (max-width: 768px) {
          #full .contain .box h1 {
            font-size: 60px; } }
        @media (min-width: 0px) and (max-width: 768px) {
          #full .contain .box h1 {
            font-size: 40px; } }
      #full .contain .box h2 {
        font-size: 30px;
        margin-bottom: 20px;
        color: #fff; }
        @media (min-width: 481px) and (max-width: 768px) {
          #full .contain .box h2 {
            font-size: 28px; } }
        @media (min-width: 0px) and (max-width: 768px) {
          #full .contain .box h2 {
            font-size: 24px; } }
      #full .contain .box span {
        color: rgba(255, 255, 255, 0.5); }
      #full .contain .box .fa {
        font-size: 50px;
        color: #fff; }
      #full .contain .box #svg-logo {
        width: 200px;
        height: auto; }
        #full .contain .box #svg-logo .path-b, #full .contain .box #svg-logo .path-w {
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          -webkit-animation: dash 2s 0.5s linear forwards, fill-shape 2s 2.6s forwards;
          -moz-animation: dash 2s 0.5s linear forwards, fill-shape 2s 2.6s forwards;
          -o-animation: dash 2s 0.5s linear forwards, fill-shape 2s 2.6s forwards;
          animation: dash 2s 0.5s linear forwards, fill-shape 2s 2.6s forwards;
          fill: transparent; }
      #full .contain .box i.fa-angle-down {
        width: 50px;
        height: 50px;
        border-radius: 50px; }
        #full .contain .box i.fa-angle-down:hover {
          background-color: rgba(255, 255, 255, 0.2); }

/* Logo Outline Animation */
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@-o-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
/* Logo Fill Animation */
@-webkit-keyframes fill-shape {
  0% {
    fill-opacity: 0;
    fill: #ffffff; }
  100% {
    fill-opacity: 1;
    fill: #ffffff; } }
@-moz-keyframes fill-shape {
  0% {
    fill-opacity: 0;
    fill: #ffffff; }
  100% {
    fill-opacity: 1;
    fill: #ffffff; } }
@-o-keyframes fill-shape {
  0% {
    fill-opacity: 0;
    fill: #ffffff; }
  100% {
    fill-opacity: 1;
    fill: #ffffff; } }
@keyframes fill-shape {
  0% {
    fill-opacity: 0;
    fill: #ffffff; }
  100% {
    fill-opacity: 1;
    fill: #ffffff; } }
/* Portfolio */
#portfolio {
  background: #3a92c7;
  color: #fff; }
  #portfolio h2 {
    margin: 2em 0 1em 0; }
  #portfolio .button {
    border-color: #fff;
    color: #fff; }
    #portfolio .button:hover {
      background: #fff;
      color: #3a92c7; }
    @media (min-width: 0px) and (max-width: 768px) {
      #portfolio .button {
        background: #fff;
        color: #3a92c7; } }

ul.portfolio {
  width: 100%;
  float: left;
  text-align: center; }
  ul.portfolio li {
    width: 50%;
    float: left;
    margin: 0;
    background: #eee;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    position: relative; }
    @media (min-width: 0px) and (max-width: 768px) {
      ul.portfolio li {
        width: 100%; } }
    ul.portfolio li:before {
      display: none; }
    ul.portfolio li div.portfolio-link-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: auto;
      width: 100%;
      color: #fff;
      opacity: 0;
      background: transparent; }
      ul.portfolio li div.portfolio-link-container:hover {
        opacity: 1;
        background: rgba(0, 0, 0, 0.7); }
      @media (min-width: 0px) and (max-width: 768px) {
        ul.portfolio li div.portfolio-link-container {
          opacity: 1;
          background: rgba(0, 0, 0, 0.7); } }
      ul.portfolio li div.portfolio-link-container h3 {
        position: absolute;
        top: 48%;
        left: 10%;
        width: 80%; }
    ul.portfolio li img.portfolio-thumb {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      float: left; }

/* Footer */
footer {
  width: 80%;
  height: 100px;
  padding: 20px 10%;
  background: #3a6073;
  color: #fff;
  float: left;
  text-align: right;
  border-top: 5px solid #315262; }
  footer .left {
    float: left;
    width: 45%;
    margin-right: 5%;
    text-align: left; }
    @media (min-width: 0px) and (max-width: 768px) {
      footer .left {
        width: 90%;
        margin: 1em 5%;
        text-align: center; } }
    footer .left i.fa {
      margin: 0 0.4em 0 0;
      font-size: 35px;
      width: 35px;
      height: 35px;
      position: relative;
      color: #3a6073; }
      @media (min-width: 0px) and (max-width: 768px) {
        footer .left i.fa {
          width: 30px;
          margin: 0 5%; } }
      footer .left i.fa:after {
        content: "";
        width: 27px;
        height: 28px;
        left: 1px;
        border-radius: 7px;
        top: 4px;
        background-color: #fff;
        position: absolute;
        z-index: -1; }
    footer .left .fa-linkedin-square:hover {
      color: #007bb5; }
    footer .left .fa-twitter-square:hover {
      color: #00aced; }
    footer .left .fa-google-plus-square:hover {
      color: #dd4b39; }
    footer .left .fa-bitbucket-square:hover {
      color: #205081; }
  footer .right {
    float: left;
    width: 45%;
    margin: 12px 0 0 5%;
    text-align: right; }
    @media (min-width: 0px) and (max-width: 768px) {
      footer .right {
        width: 90%;
        margin: 1em 5%;
        text-align: center; } }
    footer .right p {
      font-size: 18px; }
  footer .top {
    width: 100%;
    float: left;
    text-align: center;
    display: none; }

/* END footer */
