
// Theme Name: benblog
// Theme URI: http://www.ehustudent.co.uk/cis22028048/blog/
// Author: Ben Watherston
// Author URI: http://www.ehustudent.co.uk/cis22028048/blog/
// Description: Description
// Version: 1.0.0
// License: GNU General Public License v2 or later
// License URI: http://www.gnu.org/licenses/gpl-2.0.html
// Text Domain: Ben Watherston
// Tags:


/* Variables */
$blue: #3a6073

/* Fonts */
@font-face 
    font-family: 'lato'
    src: url('fonts/lato/Lato-Regular.ttf') format('truetype')


/* Media Queries */

$mobile: 480px
$tablet: 768px

@mixin mobile
    @media (min-width: 0px) and (max-width: #{$tablet})
        @content

@mixin tablet
    @media (min-width: #{$mobile + 1px}) and (max-width: #{$tablet})
        @content

@mixin desktop
    @media (min-width: #{$tablet + 1px})
        @content

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, summary, time, mark, audio, video, button, input, textarea
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font-family: arial, sans-serif
    vertical-align: baseline
    text-decoration: none
    color: inherit
    -webkit-appearance: none
    -moz-appearance: none

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav 
    display: block

html, body 
    line-height: 1
    height: 100%

ol, ul
    list-style: none


h1, h2, h3, ul#menu-main-navigation li a, footer p, ul 
    font-family: "lato", arial, sans-serif


h1
    font-size: 42px
    color: #222
    text-align: center
    margin: 1em 0


a, button, input[type=submit] 
    cursor: pointer

ul
    li
        margin-bottom: 1em
        color: $blue
        font-size: 20px
        &:before
            content: "- "
            color: $blue
body
    background: #fff
    margin: 0
    padding: 0


.background-transition
    -webkit-transition: background-color 500ms ease-out
    -moz-transition: background-color 500ms ease-out
    -o-transition: background-color 500ms ease-out
    transition: background-color 500ms ease-out

.background-transition:hover
    -webkit-transition: background-color 500ms ease-out
    -moz-transition: background-color 500ms ease-out
    -o-transition: background-color 500ms ease-out
    transition: background-color 500ms ease-out


.opacity-transition
    -webkit-transition: opacity 500ms ease-out
    -moz-transition: opacity 500ms ease-out
    -o-transition: opacity 500ms ease-out
    transition: opacity 500ms ease-out


.opacity-transition:hover
    -webkit-transition: opacity 500ms ease-out
    -moz-transition: opacity 500ms ease-out
    -o-transition: opacity 500ms ease-out
    transition: opacity 500ms ease-out



.colour-transition
    -webkit-transition: color 1s ease-out
    -moz-transition: color 1s ease-out
    -o-transition: color 1s ease-out
    transition: color 1s ease-out

.color-transition:hover
    cursor: pointer
    -webkit-transition: color 1s ease-out
    -moz-transition: color 1s ease-out
    -o-transition: color 1s ease-out
    transition: color 1s ease-out


i.fa
    color: #fff



section
    width: 60%
    float: left
    padding: 1em 20%
    text-align: center
    @include tablet
        width: 70%
        padding: 1em 15%
    @include mobile
        width: 80%
        padding: 1em 10%
    h2
        font-size: 30px
        margin: 1em 0
    
    p
        font-family: lato, arial, sans-serif
        font-size: 20px
        line-height: 1.5em
        text-align: left
        margin-bottom: 2em

.button
    float: left
    width: 50%
    padding: 0
    text-align: center
    margin: 1em 25%
    color: $blue
    border-radius: 50px
    font-weight: 700
    font-size: 18px
    border: 2px solid $blue
    @include mobile
        width: 100%
        margin: 1em 0
    &:hover
        background: $blue
        color: #fff
    @include mobile
        background: $blue
        color: #fff

    a
        display: block
        padding: 1em 0


/* Header */
.header-scroll
    background: rgba(0, 0, 0, 0.6)
    height: 50px
    .logo
        width: 40px
        height: 40px
        margin: 5px 0
    
    div.menu-main-navigation-container
        top: 16px

    .mobile-menu
        top: 16px

header
    width: 100%
    height: 80px
    float: left
    background: rgba(0, 0, 0, 0.6)
    position: fixed
    z-index: 999
    .logo
        width: 60px
        height: 60px
        margin: 10px 0
        position: absolute
        left: 5%
        img
            max-height: 100%
            max-width: 100%
        
    
    div.menu-main-navigation-container
        text-align: right
        position: absolute
        width: auto
        top: 35px
        right: 5%
        @include mobile
            top: 80px
            left: 0
            right: 0
        ul#menu-main-navigation
            text-align: right
            width: 100%
            @include mobile
                display: none

            @include desktop
                display: block !important
            li
                display: inline-block
                list-style-type: none
                width: auto
                float: left
                color: #fff
                margin: 0 0 0 2em
                @include mobile
                    width: 100%
                    background: rgba(0, 0, 0, 0.6)
                    margin-left: 0
                    text-align: center

                a
                    font-size: 18px
                    @include mobile
                        display: block
                        padding: 1em 0
                        font-family: 22px
                        font-weight: bold
    .mobile-menu
        display: none
        color: #fff
        font-size: 22px
        float: left
        position: absolute
        right: 10%
        top: 33px
        font-family: arial
        font-weight: bold
        text-decoration: none
        &:before
            font-family: "FontAwesome"
            content: "\F0c9  "
        @include mobile
            display: block


/* Page */
#page
    margin-top: 80px
    article
        padding: 1em 5%
        h1
            margin-top: 0
        
        h2
            text-align: left
        
        p
            text-align: left
            margin: 1em 0
            line-height: 1.4em
            font-size: 18px
        
        .grey
            background: #efefef
            width: 90%
            padding: 5%
        
        img
            max-height: 100%
            max-width: 100%
            width: 100%
            height: auto
            margin-bottom: 1em
section#page.contact
    p
        text-align: center
        font-size: 24px







/* Full */

#full
    background-image: url(images/background.jpg)
    background-size: cover
    background-position: center
    text-align: center
    height: 100%
    width: 100%
    margin: 0
    float: left
    .contain
        position: absolute
        width: 100%
        height: 100%
        float: left
        .box
            position: relative
            width: 90%
            top: 20%
            left: 5%
            z-index: 1
            display: inline-block
            float: left
            h1
                font-size: 80px
                margin: 10px 0
                color: #fff
                @include tablet
                    font-size: 60px
                @include mobile
                    font-size: 40px
            h2
                font-size: 30px
                margin-bottom: 20px
                color: #fff
                @include tablet
                    font-size: 28px
                @include mobile
                    font-size: 24px
            
            span
                color: rgba(255, 255, 255, 0.5)
            
            .fa
                font-size: 50px
                color: #fff
            
            #svg-logo
                width: 200px
                height: auto
                .path-b, .path-w 
                    stroke-dasharray: 1000
                    stroke-dashoffset: 1000
                    -webkit-animation: dash 2s 0.5s linear forwards, fill-shape 2s 2.6s forwards
                    -moz-animation: dash 2s 0.5s linear forwards, fill-shape 2s 2.6s forwards
                    -o-animation: dash 2s 0.5s linear forwards, fill-shape 2s 2.6s forwards
                    animation: dash 2s 0.5s linear forwards, fill-shape 2s 2.6s forwards
                    fill: transparent
                
            
            i.fa-angle-down
                width: 50px
                height: 50px
                border-radius: 50px
                &:hover
                    background-color: rgba(255,255,255,0.2)


/* Logo Outline Animation */
@-webkit-keyframes dash
    to
        stroke-dashoffset: 0
    
@-moz-keyframes dash
    to
        stroke-dashoffset: 0

@-o-keyframes dash
    to
        stroke-dashoffset: 0

@keyframes dash
    to
        stroke-dashoffset: 0

/* Logo Fill Animation */
@-webkit-keyframes fill-shape
    0%
        fill-opacity: 0
        fill: #ffffff
    
    100%
        fill-opacity: 1
        fill: #ffffff

@-moz-keyframes fill-shape
    0%
        fill-opacity: 0
        fill: #ffffff
    100% 
        fill-opacity: 1
        fill: #ffffff

@-o-keyframes fill-shape
    0%
        fill-opacity: 0
        fill: #ffffff
    100%
        fill-opacity: 1
        fill: #ffffff

@keyframes fill-shape 
    0%
        fill-opacity: 0
        fill: #ffffff
    
    100%
        fill-opacity: 1
        fill: #ffffff

/* Portfolio */
#portfolio
    background: #3a92c7
    color: #fff
    h2
        margin: 2em 0 1em 0
    .button
        border-color: #fff
        color: #fff
        &:hover
            background: #fff
            color: #3a92c7
        @include mobile
            background: #fff
            color: #3a92c7

ul.portfolio
    width: 100%
    float: left
    text-align: center
    li
        width: 50%
        float: left
        margin: 0
        background: #eee
        height: auto
        font-size: 30px
        font-weight: bold
        position: relative
        @include mobile
            width: 100%
        &:before
            display: none
        div.portfolio-link-container
            position: absolute
            top: 0
            left: 0
            bottom: 0
            height: auto
            width: 100%
            color: #fff
            opacity: 0
            background: rgba(0, 0, 0, 0)
            &:hover
                opacity: 1
                background: rgba(0, 0, 0, 0.7)
            @include mobile
                opacity: 1
                background: rgba(0, 0, 0, 0.7)
            
            h3
                position: absolute
                top: 48%
                left: 10%
                width: 80%
            
        
        img.portfolio-thumb
            max-height: 100%
            max-width: 100%
            width: auto
            height: auto
            float: left



/* Footer */
footer
    width: 80%
    height: 100px
    padding: 20px 10%
    background: $blue
    color: #fff
    float: left
    text-align: right
    border-top: 5px solid darken($blue, 5%)
    .left
        float: left
        width: 45%
        margin-right: 5%
        text-align: left
        @include mobile
            width: 90%
            margin: 1em 5%
            text-align: center
        i.fa
            margin: 0 0.4em 0 0
            font-size: 35px
            width: 35px
            height: 35px
            position: relative
            color: $blue
            @include mobile
                width: 30px
                margin: 0 5%
            &:after
                content: ""
                width: 27px
                height: 28px
                left: 1px
                border-radius: 7px
                top: 4px
                background-color: #fff
                position: absolute
                z-index: -1
            
        
        .fa-linkedin-square
            &:hover
                color: #007bb5
            
        
        .fa-twitter-square
            &:hover
                color: #00aced
            
        
        .fa-google-plus-square
            &:hover
                color: #dd4b39   

        .fa-bitbucket-square
            &:hover
                color: #205081

    .right
        float: left
        width: 45%
        margin: 12px 0 0 5%
        text-align: right
        @include mobile
            width: 90%
            margin: 1em 5%
            text-align: center
        p
            font-size: 18px
        
    
    .top
        width: 100%
        float: left
        text-align: center
        display: none

/* END footer 